# Provenance: MODELED FROM DOCS (grounded=modeled-from-docs).
# Paga does not publish a downloadable first-party OpenAPI document. This
# specification was hand-modeled on 2026-07-17 from the public Paga developer
# documentation at https://developer-docs.paga.com/ (Business API, Collect API,
# and Direct Debit API operation references) and the Paga-Developer-Community
# GitHub libraries. Endpoint paths, base URLs, header auth (principal /
# credentials / hash) and the SHA-512 hash rule are transcribed from those
# docs; request/response schemas are representative, not exhaustive. Verify
# per-operation fields against the live docs before production use.
openapi: 3.0.3
info:
  title: Paga Developer API
  description: >-
    Paga (Pagatech Financial Services Limited) is a Nigerian mobile-money and
    payments company licensed by the Central Bank of Nigeria. This document
    models three REST product surfaces: the Business API (disbursements,
    airtime/data, merchant payments, bank deposits, customer onboarding), the
    Collect API (NGN collections via payment requests and persistent payment
    account numbers), and the Direct Debit API (bank-account mandate
    tokenization and recurring charges). All amounts are in Nigerian Naira
    (NGN). Every request carries a SHA-512 `hash` header computed over an
    operation-specific ordered concatenation of parameters plus the account
    hash key.
  version: '1.0'
  contact:
    name: Paga Developer Support
    url: https://developer-docs.paga.com/
    email: businesssupport@paga.com
  termsOfService: https://www.paga.com/
servers:
  - url: https://www.mypaga.com
    description: Business API - Live
  - url: https://beta.mypaga.com
    description: Business API - Test / Sandbox
  - url: https://collect.paga.com
    description: Collect API and Direct Debit API - Live
  - url: https://beta-collect.paga.com
    description: Collect API and Direct Debit API - Test / Sandbox
tags:
  - name: Collect
    description: NGN collections - payment requests and persistent payment accounts.
  - name: Direct Debit
    description: Bank-account mandate tokenization and recurring debits.
  - name: Business
    description: Disbursements, airtime/data, merchant payments, deposits, onboarding.
  - name: Reference
    description: Look-up operations - banks, mobile operators, status.
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: >-
        Collect API and Direct Debit API use HTTP Basic authentication with
        base64(publicKey:secretKey), where publicKey is the account principal
        and secretKey is the account credential.
    pagaPrincipal:
      type: apiKey
      in: header
      name: principal
      description: Business API public key (principal / merchant public ID).
    pagaCredentials:
      type: apiKey
      in: header
      name: credentials
      description: Business API secret key (credential / password).
    pagaHash:
      type: apiKey
      in: header
      name: hash
      description: >-
        SHA-512 hash of an operation-specific ordered concatenation of request
        parameters plus the account hash key. Required on every operation.
  schemas:
    Money:
      type: object
      properties:
        amount:
          type: number
          format: double
          example: 5000.00
        currency:
          type: string
          example: NGN
    PaymentRequestRequest:
      type: object
      required:
        - referenceNumber
        - amount
        - currency
        - payer
      properties:
        referenceNumber:
          type: string
          description: Unique client-generated reference for the transaction.
          example: '0022445564'
        amount:
          type: number
          format: double
          example: 5000.00
        currency:
          type: string
          example: NGN
        payer:
          $ref: '#/components/schemas/Party'
        payee:
          $ref: '#/components/schemas/Party'
        expiryDateTimeUTC:
          type: string
          format: date-time
        isSuppressMessages:
          type: boolean
        payerCollectionFeeShare:
          type: number
          format: double
        payeeCollectionFeeShare:
          type: number
          format: double
        callBackUrl:
          type: string
          format: uri
        paymentMethods:
          type: array
          items:
            type: string
            enum: [BANK_TRANSFER, FUNDING_USSD, PAGA]
    Party:
      type: object
      properties:
        name:
          type: string
        phoneNumber:
          type: string
          example: '07022222222'
        bankId:
          type: string
          description: Paga bank UUID (from /banks).
        accountNumber:
          type: string
        financialIdentificationNumber:
          type: string
          description: BVN.
    GenericResponse:
      type: object
      properties:
        responseCode:
          type: integer
          example: 0
        message:
          type: string
        referenceNumber:
          type: string
        transactionId:
          type: string
    PersistentPaymentAccountRequest:
      type: object
      required:
        - referenceNumber
        - accountName
        - phoneNumber
      properties:
        referenceNumber:
          type: string
        accountName:
          type: string
        phoneNumber:
          type: string
        accountReference:
          type: string
          description: Unique client identifier for the persistent account.
        financialIdentificationNumber:
          type: string
          description: BVN.
        creditBankId:
          type: string
        creditBankAccountNumber:
          type: string
        callbackUrl:
          type: string
          format: uri
    BusinessRequest:
      type: object
      required:
        - referenceNumber
      properties:
        referenceNumber:
          type: string
        amount:
          type: number
          format: double
        currency:
          type: string
          example: NGN
        locale:
          type: string
security:
  - pagaHash: []
paths:
  /paymentRequest:
    servers:
      - url: https://collect.paga.com
        description: Collect / Direct Debit - Live
      - url: https://beta-collect.paga.com
        description: Collect / Direct Debit - Test
    post:
      tags: [Collect]
      operationId: requestPayment
      summary: Register a payment request
      description: >-
        Registers a new request for payment between a payer and payee. The
        payer is notified and can pay via bank transfer, USSD, card, agent, or
        Paga wallet; a callback is sent on fulfilment. The same path is used by
        the Direct Debit API to initiate bank-account mandate tokenization.
        hash = SHA-512(referenceNumber + amount + currency + payer.phoneNumber +
        payer.email + hashKey).
      security:
        - basicAuth: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequestRequest'
      responses:
        '200':
          description: Payment request registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /status:
    servers:
      - url: https://collect.paga.com
      - url: https://beta-collect.paga.com
    post:
      tags: [Collect]
      operationId: checkStatus
      summary: Check payment request / mandate status
      description: >-
        Returns the status of a submitted operation (payment request,
        persistent account creation, or direct-debit tokenization) by reference
        number, including any refund information.
        hash = SHA-512(referenceNumber + hashKey).
      security:
        - basicAuth: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber]
              properties:
                referenceNumber:
                  type: string
      responses:
        '200':
          description: Status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /refund/v2:
    servers:
      - url: https://collect.paga.com
      - url: https://beta-collect.paga.com
    post:
      tags: [Collect]
      operationId: refundPaymentV2
      summary: Refund or cancel a payment request (v2)
      description: >-
        Cancels or refunds a previously fulfilled or pending payment request.
      security:
        - basicAuth: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber]
              properties:
                referenceNumber:
                  type: string
                refundAmount:
                  type: number
                  format: double
                currency:
                  type: string
                  example: NGN
                reason:
                  type: string
      responses:
        '200':
          description: Refund processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /history:
    servers:
      - url: https://collect.paga.com
      - url: https://beta-collect.paga.com
    post:
      tags: [Collect]
      operationId: retrieveHistory
      summary: Retrieve collection history
      description: >-
        Queries collection activity within a date range (maximum three months).
      security:
        - basicAuth: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber]
              properties:
                referenceNumber:
                  type: string
                startDateTimeUTC:
                  type: string
                  format: date-time
                endDateTimeUTC:
                  type: string
                  format: date-time
      responses:
        '200':
          description: History returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /banks:
    servers:
      - url: https://collect.paga.com
      - url: https://beta-collect.paga.com
    post:
      tags: [Reference]
      operationId: getCollectBanks
      summary: Get supported banks (Collect)
      description: >-
        Retrieves the list of supported banks and their unique Paga bank IDs,
        used to populate payer/payee objects.
        hash = SHA-512(referenceNumber + hashKey).
      security:
        - basicAuth: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber]
              properties:
                referenceNumber:
                  type: string
      responses:
        '200':
          description: Bank list returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /registerPersistentPaymentAccount:
    servers:
      - url: https://collect.paga.com
      - url: https://beta-collect.paga.com
    post:
      tags: [Collect]
      operationId: registerPersistentPaymentAccount
      summary: Create a persistent payment account
      description: >-
        Creates a reusable NUBAN account number assigned to a customer so the
        organization can collect payments any time via bank or Paga transfer.
      security:
        - basicAuth: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersistentPaymentAccountRequest'
      responses:
        '200':
          description: Persistent payment account created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /getPersistentPaymentAccount:
    servers:
      - url: https://collect.paga.com
      - url: https://beta-collect.paga.com
    post:
      tags: [Collect]
      operationId: getPersistentPaymentAccount
      summary: Retrieve a persistent payment account
      security:
        - basicAuth: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber, accountReference]
              properties:
                referenceNumber:
                  type: string
                accountReference:
                  type: string
      responses:
        '200':
          description: Account details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /updatePersistentPaymentAccount:
    servers:
      - url: https://collect.paga.com
      - url: https://beta-collect.paga.com
    post:
      tags: [Collect]
      operationId: updatePersistentPaymentAccount
      summary: Update a persistent payment account
      description: Modifies account properties except the NUBAN and account reference.
      security:
        - basicAuth: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersistentPaymentAccountRequest'
      responses:
        '200':
          description: Account updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /deletePersistentPaymentAccount:
    servers:
      - url: https://collect.paga.com
      - url: https://beta-collect.paga.com
    post:
      tags: [Collect]
      operationId: deletePersistentPaymentAccount
      summary: Delete a persistent payment account
      description: Removes a persistent payment identifier. Irreversible.
      security:
        - basicAuth: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber, accountReference]
              properties:
                referenceNumber:
                  type: string
                accountReference:
                  type: string
      responses:
        '200':
          description: Account deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /chargeDebitMandate:
    servers:
      - url: https://collect.paga.com
      - url: https://beta-collect.paga.com
    post:
      tags: [Direct Debit]
      operationId: chargeDebitMandate
      summary: Charge a tokenized bank account (mandate)
      description: >-
        Debits an approved, tokenized customer bank account for one-time or
        recurring payment.
        hash = SHA-512(referenceNumber + amount + accountReference + hashKey).
      security:
        - basicAuth: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber, amount, accountReference]
              properties:
                referenceNumber:
                  type: string
                amount:
                  type: number
                  format: double
                currency:
                  type: string
                  example: NGN
                accountReference:
                  type: string
      responses:
        '200':
          description: Charge submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /getChargeMandateStatus:
    servers:
      - url: https://collect.paga.com
      - url: https://beta-collect.paga.com
    post:
      tags: [Direct Debit]
      operationId: getChargeMandateStatus
      summary: Check a direct-debit charge status
      security:
        - basicAuth: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber]
              properties:
                referenceNumber:
                  type: string
      responses:
        '200':
          description: Charge status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /disableMandate:
    servers:
      - url: https://collect.paga.com
      - url: https://beta-collect.paga.com
    post:
      tags: [Direct Debit]
      operationId: disableMandate
      summary: Disable a direct-debit mandate
      description: Revokes a previously approved mandate token.
      security:
        - basicAuth: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber, accountReference]
              properties:
                referenceNumber:
                  type: string
                accountReference:
                  type: string
      responses:
        '200':
          description: Mandate disabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /paga-webservices/business-rest/secured/moneyTransfer:
    servers:
      - url: https://www.mypaga.com
      - url: https://beta.mypaga.com
    post:
      tags: [Business]
      operationId: moneyTransfer
      summary: Money transfer / disbursement
      description: >-
        Transfers money from the business Paga account to a recipient phone
        number or bank account.
        hash = SHA-512(referenceNumber + amount + destinationAccount +
        destinationBank + hashKey).
      security:
        - pagaPrincipal: []
          pagaCredentials: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber, amount, destinationAccount]
              properties:
                referenceNumber:
                  type: string
                amount:
                  type: number
                  format: double
                destinationAccount:
                  type: string
                currency:
                  type: string
                  example: NGN
                destinationBank:
                  type: string
                senderPrincipal:
                  type: string
                sendWithdrawalCode:
                  type: boolean
      responses:
        '200':
          description: Transfer processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /paga-webservices/business-rest/secured/airtimePurchase:
    servers:
      - url: https://www.mypaga.com
      - url: https://beta.mypaga.com
    post:
      tags: [Business]
      operationId: airtimePurchase
      summary: Airtime & data purchase
      security:
        - pagaPrincipal: []
          pagaCredentials: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber, amount, destinationPhoneNumber]
              properties:
                referenceNumber:
                  type: string
                amount:
                  type: number
                  format: double
                destinationPhoneNumber:
                  type: string
                mobileOperatorPublicId:
                  type: string
                isDataBundle:
                  type: boolean
      responses:
        '200':
          description: Purchase processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /paga-webservices/business-rest/secured/merchantPayment:
    servers:
      - url: https://www.mypaga.com
      - url: https://beta.mypaga.com
    post:
      tags: [Business]
      operationId: merchantPayment
      summary: Merchant / bill payment
      security:
        - pagaPrincipal: []
          pagaCredentials: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber, amount, merchantAccount]
              properties:
                referenceNumber:
                  type: string
                amount:
                  type: number
                  format: double
                merchantAccount:
                  type: string
                merchantReferenceNumber:
                  type: string
                merchantService:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Merchant payment processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /paga-webservices/business-rest/secured/depositToBank:
    servers:
      - url: https://www.mypaga.com
      - url: https://beta.mypaga.com
    post:
      tags: [Business]
      operationId: depositToBank
      summary: Deposit to bank account
      security:
        - pagaPrincipal: []
          pagaCredentials: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - referenceNumber
                - amount
                - destinationBankUUID
                - destinationBankAccountNumber
              properties:
                referenceNumber:
                  type: string
                amount:
                  type: number
                  format: double
                destinationBankUUID:
                  type: string
                destinationBankAccountNumber:
                  type: string
                recipientPhoneNumber:
                  type: string
                recipientEmail:
                  type: string
      responses:
        '200':
          description: Deposit processed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /paga-webservices/business-rest/secured/validateDepositToBank:
    servers:
      - url: https://www.mypaga.com
      - url: https://beta.mypaga.com
    post:
      tags: [Business]
      operationId: validateDepositToBank
      summary: Validate a bank deposit (name enquiry)
      security:
        - pagaPrincipal: []
          pagaCredentials: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - referenceNumber
                - amount
                - destinationBankUUID
                - destinationBankAccountNumber
              properties:
                referenceNumber:
                  type: string
                amount:
                  type: number
                  format: double
                destinationBankUUID:
                  type: string
                destinationBankAccountNumber:
                  type: string
      responses:
        '200':
          description: Account name resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /paga-webservices/business-rest/secured/accountBalance:
    servers:
      - url: https://www.mypaga.com
      - url: https://beta.mypaga.com
    post:
      tags: [Business]
      operationId: accountBalance
      summary: Account balance
      security:
        - pagaPrincipal: []
          pagaCredentials: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber]
              properties:
                referenceNumber:
                  type: string
                sourceOfFunds:
                  type: string
      responses:
        '200':
          description: Balance returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /paga-webservices/business-rest/secured/getBanks:
    servers:
      - url: https://www.mypaga.com
      - url: https://beta.mypaga.com
    post:
      tags: [Reference]
      operationId: getBusinessBanks
      summary: Get supported banks (Business)
      security:
        - pagaPrincipal: []
          pagaCredentials: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber]
              properties:
                referenceNumber:
                  type: string
      responses:
        '200':
          description: Bank list returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /paga-webservices/business-rest/secured/getMobileOperators:
    servers:
      - url: https://www.mypaga.com
      - url: https://beta.mypaga.com
    post:
      tags: [Reference]
      operationId: getMobileOperators
      summary: Get mobile operators
      security:
        - pagaPrincipal: []
          pagaCredentials: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber]
              properties:
                referenceNumber:
                  type: string
      responses:
        '200':
          description: Operator list returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /paga-webservices/business-rest/secured/getOperationStatus:
    servers:
      - url: https://www.mypaga.com
      - url: https://beta.mypaga.com
    post:
      tags: [Reference]
      operationId: getOperationStatus
      summary: Get operation status
      security:
        - pagaPrincipal: []
          pagaCredentials: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber]
              properties:
                referenceNumber:
                  type: string
      responses:
        '200':
          description: Operation status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /paga-webservices/business-rest/secured/transactionHistory:
    servers:
      - url: https://www.mypaga.com
      - url: https://beta.mypaga.com
    post:
      tags: [Business]
      operationId: transactionHistory
      summary: Transaction history
      security:
        - pagaPrincipal: []
          pagaCredentials: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber]
              properties:
                referenceNumber:
                  type: string
                startDateUTC:
                  type: string
                  format: date-time
                endDateUTC:
                  type: string
                  format: date-time
      responses:
        '200':
          description: History returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
  /paga-webservices/business-rest/secured/registerCustomer:
    servers:
      - url: https://www.mypaga.com
      - url: https://beta.mypaga.com
    post:
      tags: [Business]
      operationId: registerCustomer
      summary: Register a customer
      description: Creates a Paga customer wallet on behalf of the organization.
      security:
        - pagaPrincipal: []
          pagaCredentials: []
          pagaHash: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [referenceNumber, customerPhoneNumber]
              properties:
                referenceNumber:
                  type: string
                customerPhoneNumber:
                  type: string
                customerFirstName:
                  type: string
                customerLastName:
                  type: string
                customerEmail:
                  type: string
                customerDateOfBirth:
                  type: string
                  format: date
      responses:
        '200':
          description: Customer registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
